// color
$color-pink:#fe4a62;
$color-gray:#958C84;
$color-gray-blur:#dddddd;
$color-black:#292b2c;
$color-white:#FFFFFF;
$color-star:#F6BC3E;

// ===============font-size===================
$large-font : 60px!important;
// ===============font-weight================
$fw-bold : 800!important;
$fw-md : 600!important;
// ==============margin,padding==============
