@media (min-width:992px) and (max-width:1200px){
    .large-btn-2 {
        padding:15px!important;
        font-size: 14px;
     }

     .modal-prd {
        .modal__content {
            > div {
                margin-bottom: 10px!important;
            }
            .order-prd {
                .icon-action {
                    margin-left: 10px;
                }
            }
        }
    }

    .random_modal {
        overflow-x: hidden;
        .random_modal__container {
            margin: auto 30px;
            .random__table {
                .table__desc {
                    td:not(.title) {
                        font-size: 15px;
                    }
                }
            }
        }
    }

	.banner-top {
        .banner-top__list {
            .banner-top__item {
                padding: 120px 0!important;
            }
        }
    }
    .banner-bottom {
        margin: 90px 0;
    }
    .clients-review {
        padding: 80px 0;
    }
    .policy-list {
        padding: 80px 0;
    }

}

@media (min-width:768px) and (max-width:991px){
    .large-btn {
        margin: 20px 0;
    }
    .large-btn-2 {
        padding:15px!important;
        font-size: 14px;
     }
     .overlay ,
     .overlay_search{
        width: 120%;
    }
     .popup {
         padding: 0 15px;
         .popup-form {
             .popup-content {
                 margin: 40px ;
             }
         }
     }

    .modal-prd {
        .modal__content {
            > div {
                margin-bottom: 8px!important;
            }
            .order-prd {
                display: block;
                .quality-select {
                    margin-bottom: 15px;
                }
            }
        }
    }

    .random_modal {
        overflow-x: auto;
        width: 120%!important;
        .random_modal__container {
            margin: auto 10px;
            .random__table {
                .table__desc {
                    td:not(.title) {
                        font-size: 15px;
                    }
                }
            }
        }
    }

    .bottom-header {
        .bottom-header__content {
            .bottom-header--right {
                .menu__list {
                    display: none;
                }
                .hamberger-menu {
                    display: block;
                }
            }
        }
    }

    .banner-top {
        .banner-top__list {
            .banner-top__item {
                padding: 80px 0!important;
                .banner__item-text {
                    .name-prd {
                        font-size: 50px;
                        margin-top: 10px;
                    }
                }
            }
        }
    }

    .shop-banner {
        margin: 75px 0;
        .shop-banner__item {
           .shop-banner__item-text {
                right: 15px;
                .sale-type {
                    font-size: 15px;
                }
                .sale-name {
                    font-size: 22px;
                    margin: 10px 0;
                }
            }
        }
    }

    .banner-bottom {
        margin: 75px 0;
        &__img {
            width: 80%;
        }
        &__text {
            h2{
                margin: 10px 0;
            }
        }
    }

    .clients-review {
        padding: 60px 0;
    }

    .policy-list {
        padding: 60px 0;
        .policy-item {
            margin-bottom: 25px;
            &::after {
                display: none;
            }
        }
    }

    .contact {
        .email-form {
            .sub-btn {
                padding: 15px 25px;
            }
        }
    }
    .footer {
        &-top {
            padding: 60px 0;
            .footer-item.mt2 {
                margin-top: 20px;
            }
        }
    }
}
@media (min-width:576px) and (max-width:767px){
    .overlay ,
     .overlay_search{
        width: 125%;
    }
    .large-btn {
        margin: 20px 0;
    }
    .large-btn-2 {
        padding:12px!important;
        font-size: 12px;
     }
     .popup {
        padding: 0 10px;
        .popup-form {
            .popup-img {
                width: 40%;
            }
            .popup-content {
                margin: 35px 10px;
                .title {
                    font-size: 20px;
                }
                .content {
                    margin: 15px 0;
                }
            }
        }
    }
    .modal-prd {
        padding: 750px 0;
        overflow-y: auto;
        .modal__content {
            > div {
                margin-bottom: 8px!important;
            }
            .order-prd {
                display: block;
                .quality-select {
                    margin-bottom: 15px;
                }
            }
        }
    }

    .random_modal {
        width: 130%!important;
        overflow-x: auto;
        .random_modal__container {
            .random__table {
                .table__desc {
                    td:not(.title) {
                        font-size: 15px;
                    }
                }
            }
        }
    }

    .top-header {
        &__content {
            flex-direction: column;
            align-items: center;
        }
        .top-header--left {
            margin-bottom: 15px;
            .money {
                margin: 0 25px;
            }
        }
    }

    .bottom-header {
        .bottom-header__content {
            .bottom-header--right {
                .menu__list {
                    display: none;
                }
                .hamberger-menu {
                    display: block;
                }
            }
        }
    }

    .banner-top {
        .banner-top__list {
            .banner-top__item {
                padding: 80px 0!important;
                .banner__item-text {
                    .name-prd {
                        font-size: 40px;
                        margin-top: 10px;
                    }
                }
            }
        }
    }

    .shop-banner {
        margin: 60px 0;
        .shop-banner__item {
            margin-bottom: 30px;
           .shop-banner__item-text {
                right: 25px;
            }
        }
        .right-banner {
            margin-bottom: 0;
        }
    }

    .banner-bottom {
        margin: 60px 0;
        &__text {
            text-align: center;
            margin: 30px 0;
        }
        &__img {
            width: 70%;
            margin: 0 60px!important;
        }
    }

    .clients-review {
        padding: 60px 0;
    }

    .policy-list {
        padding: 60px 0;
        .policy-item {
            margin-bottom: 25px;
            &::after {
                display: none;
            }
        }
    }

}
@media  (max-width:575px){
    .large-btn {
        margin: 20px 0;
    }
    .large-btn-2 {
        padding:12px!important;
        font-size: 12px;
     }
     .overlay ,
     .overlay_search{
        width: 160%!important;
    }
     h2 {
         margin: 10px 0;
     }
     .popup {
        padding: 0 10px;
        .popup-form {
            .popup-img {
                display: none;
            }
            .popup-content {
                margin: 30px;
                .title {
                    font-size: 25px;
                }
            }
        }
    }
    .modal-prd {
        padding: 750px 0;
        overflow-y: auto;
        .modal-container {
            padding: 10px 20px;
            margin: 0 10px;
            .modal__content {
                padding: 10px 0;
                > div {
                    margin-bottom: 8px!important;
                }
                .info-prd {
                    .name-prd {
                        font-size: 22px;
                    }
                    .price-review {
                        display: block;
                    }
                }
                .order-prd {
                    display: block;
                    .quality-select {
                        margin-bottom: 15px;
                    }
                }
            }
        }
    }

    .random_modal {
        width: 800px!important;
        overflow-x: auto;
        .random_modal__container {
            margin: auto 20px;
            .random__table {
                td.title {
                    font-size: 12px!important;
                }
                .table__prd-name {
                    td:not(.title) {
                        font-size: 15px;
                    }
                }
                .table__desc {
                    td:not(.title) {
                        font-size: 15px;
                    }
                }
            }
        }
    }

    .top-header {
        &__content {
            flex-direction: column;
            align-items: center;
        }
        .top-header--left {
            margin-bottom: 15px;
            .money {
                margin: 0 25px;
            }
        }
    }

    .bottom-header {
        .bottom-header__content {
            .bottom-header--left {
                .logo{
                    width: 150px;
                }
            }
            .bottom-header--right {
                .menu__list {
                    display: none;
                }
                .hamberger-menu {
                    display: block;
                }
            }
        }
    }

    .banner-top {
        .banner-top__list {
            .banner-top__item {
                padding: 60px 0!important;
                .banner__item-text {
                    .sale {
                        font-size: 15px;
                    }
                    .name-prd {
                        font-size:25px;
                        margin-top: 10px;
                    }
                }
            }
        }
    }

    .shop-banner {
        margin: 40px 0;
        .shop-banner__item {
            margin-bottom: 30px;
           .shop-banner__item-text {
                right: 15px;
                .sale-type {
                    font-size: 15px;
                }
                .sale-name {
                    font-size: 20px;
                }
            }
        }
        .right-banner {
            margin-bottom: 0;
        }
    }
    .exclusive-product {
        .product-types {
            flex-wrap: wrap;
            margin: 15px 0;
            li {
                font-size: 15px;
                margin-top: 10px;
            }
        }
    }

    .banner-bottom {
        margin: 60px 0;
        &__text {
            text-align: center;
            margin: 30px 0;
        }
        &__img {
            width: 70%;
            margin: 0 60px!important;
        }
    }
    .feature-products {
        .owl-prev {
            span{
                margin: 30px!important;
            }
        }
        .owl-next {
            span{
                margin: 30px!important;
            }
        }
    }

    .clients-review {
        padding: 40px 0;
        .clients-review__content{
            .personal-review {
                .content {
                    font-size: 15px;
                }
            }
        }
        .pre-slide {
            left: 0!important;
        }
        .next-slide {
            right: 0!important;
        }
    }

    .policy-list {
        padding: 40px 0;
        .policy-item {
            margin-bottom: 25px;
            &::after {
                display: none;
            }
        }
    }
    .contact {
        .email-form {
            .sub-btn{
                padding: 15px 20px!important;
            }
        }
    }
}